
.inpt{
  width: 50%;
  height: 45px;
  border: none;
  box-shadow: rgba(114, 106, 106, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 250px;
}

.btn{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: bold;
  font-size: 25px;
  height: 45px;
  width: 40px;
  border-radius: 5px;
  
}

.t1>div{
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.t1{
  display: flex;
 width: 70%;
 margin: auto;
 justify-content: space-between;
 margin-bottom: 30px;
 height: 50px;
 background-color: rgb(255, 246, 246);
 box-shadow: rgba(134, 94, 94, 0.24) 0px 3px 8px;
 border-radius: 10px;
}